<!doctype html>
<title>{% block title %}{% endblock %} - CHALLENGE GPS</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style_flask.css') }}">
<nav>
  <h1>GPS ANALYSIS</h1>
  <ul>
      <li><a href="{{ url_for('index') }}">Accueil</a>
      <li><a href="{{ url_for('files') }}">Fichiers GPS</a>
      <li><a href="{{ url_for('crunch_data') }}">Analyse et comparaisons</a>
      <li><a href="{{ url_for('ranking') }}">Classement</a>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('logout') }}">Deconnexion</a>
    {% else %}
      <li><a href="{{ url_for('login') }}">Connexion</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>