{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}CRUNCH data by support {{by_support}}, by spot {{ by_spot }}, by author {{ by_author }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method=post enctype=multipart/form-data>
    <label for="support">by support</label>
    <select name="support">
      {% for choice in support_choice %}
      <option value="{{ choice }}">{{ choice }}</option>
      {% endfor %}
    </select>
    <p></p>
    <label for="author">by author</label>
    <select name="author">
      {% for choice in author_choice %}
      <option value="{{ choice }}">{{ choice }}</option>
      {% endfor %}
    </select>
    <p></p>
    <label for="spot">by spot</label>
    <select name="spot">
      {% for choice in spot_choice %}
      <option value="{{ choice }}">{{ choice }}</option>
      {% endfor %}
    </select>
    <p></p>
    <input type=submit value=CRUNCH>
  </form>
  <article class="post">
      <table>
      {% for label, resources in bokeh_template.items() %}
      <tr><td>
      <head>
        <meta charset="UTF-8">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Embed Demo</title>
        {{ resources['js_resources']|indent(4)|safe }}
        {{ resources['css_resources']|indent(4)|safe }}
        {{ resources['script']|indent(4)|safe }}
      </head>
      <body>

            <h1 style="text-align: center; margin-bottom: 40px;">{{label}}</h1>
            <div style="display: flex; justify-content: center;">
            {{ resources['div']|indent(4)|safe }}
      </body>
      </td></tr>
      {% endfor %}
      </table>
  </article>
{% endblock %}
