{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}UPLOADED FILES for {{by_support}} support, author: {{by_author}}, spot: {{by_spot}}{% endblock %}</h1>
  <a class="action" href="{{ url_for('upload_file') }}">Upload new file</a>
  {% if g.user.username == 'admin' %}
    <a class="action" href="{{ url_for('reload_files') }}">Reload all files</a>
  {% endif %}
{% endblock %}

{% block content %}
  <form method=post enctype=multipart/form-data>
    <label for="support">by support</label>
    <select name="support">
      {% for choice in support_choice %}
      <option value="{{ choice }}">{{ choice }}</option>
      {% endfor %}
    </select>
    <p></p>
    {% if g.user %}
    <label for="author">by author</label>
    <select name="author">
      {% for choice in author_choice %}
      <option value="{{ choice }}">{{ choice }}</option>
      {% endfor %}
    </select>
    <p></p>
    {% endif %}
    <label for="spot">by spot</label>
    <select name="spot">
      {% for choice in spot_choice %}
      <option value="{{ choice }}">{{ choice }}</option>
      {% endfor %}
    </select>
    <p></p>
    {% if g.user.username == 'admin' %}
    <label for="spot">file status</label>
    <select name="file_status">
      {% for choice in status_choice %}
      <option value="{{ choice }}">{{ choice }}</option>
      {% endfor %}
    </select>
    <p></p>
    {% endif %}
    <input type=submit value='see files'>
  </form>
  {% for file in files %}
  <article class="post">
    <header>
      <div>
        <h1>{{ file.filename }}</h1>
        <div class="about">by author: {{ file.user.username }} in location {{ file.user.location }}</div>
      </div>
      {% if g.user.username == 'admin' and not file.approved %}
        <a class="action" href="{{ url_for('approve_file', id=file.id) }}">Approve</a>
      {% endif %}
      {% if g.user.id == file.user_id or g.user.username == 'admin' %}
        <a class="action" href="{{ url_for('delete_file', id=file.id) }}">Delete</a>
      {% endif %}
        <a class="action" href="{{ url_for('analyse', id=file.id) }}">Analyse</a>
    </header>
    <p class="body">spot: {{ file.spot }}</p>
    <p class="body">support: {{ file.support }}</p>
  </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}