{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
    <label for="location">Location (optional)</label>
    <input type="location" name="location" id="location">
    <label for="infos">Preferred support (optional)</label>
    <input type="infos" name="infos" id="infos">
    <input type="submit" value="Register">
  </form>
{% endblock %}