{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}UPLOAD NEW GPX FILE{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method=post enctype=multipart/form-data>
    <label for="support">support</label>
    <select name="support">
      {% for choice in support_choice %}
      <option value="{{ choice }}">{{ choice }}</option>
      {% endfor %}
    </select>
    <select name="spot">
      {% for choice in spot_choice %}
      <option value="{{ choice }}">{{ choice }}</option>
      {% endfor %}
    </select>
    <label for="spot_infos">spot additional infos</label>
    <input name="spot_infos" id="spot_infos" value="{{ request.form['spot_infos'] }}">
    <input type=file name=file>
    <input type=submit value=Upload>
  </form>
{% endblock %}
